.main {
  background-position: 100px;
}

.image-1 {
  
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(img/box1.jpg);
}
.image-2 {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(img/box2.jpg);
}
.image-3 {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(img/box3.jpg);
}
.image-4 {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-image: url(img/box4.jpg);
}